@lugato-rot: rgb(226,0,26);
@lugato-blau: rgb(0,101,166);
@lugato-grau: rgb(49,49,49);
@lugato-hellgrau: rgb(109,109,109);
@lugato-grundieren: rgb(156,125,175);
@lugato-ausgleichen: rgb(160,203,200);
@lugato-abdichten: rgb(226,210,22);
@lugato-kleben: rgb(190,0,39);
@lugato-verfugen: rgb(53,99,160);