body {
	font-family: 'Oswald', sans-serif;
	color: @lugato-hellgrau;
	border-top:15px solid @lugato-blau;
	font-weight: 300;
	font-size:18px;
}

h1,
h2 {
	text-transform: uppercase;
	text-align: center;
	color:@lugato-blau;
	font-size: 48px;
	font-weight: 400;
	margin-bottom: 50px;
	line-height: 1.2
}

h2 {
	text-align: left;
	font-size: 30px;
	margin-bottom: 30px;
	font-weight: 300;
}

p + h2 {
	margin-top:90px;
}

strong {
	font-weight:400;
}

.navbar {
	margin-bottom: 0;
}

.navbar-default {
	background:transparent;
	border:0;
}

.navbar-default ul.nav li a,
.navbar-default ul.nav li a:active,
.navbar-default ul.nav li a:visited {
	color:@lugato-blau;
	font-size:18px;
	font-weight: 400;
}

.navbar-default ul.nav li a:hover,
.navbar-default ul.nav li[class*="current-"] a,
.single-produkte .navbar-default ul.nav li.menu-item-12 a {
	color:@lugato-rot;	
}

.navbar-brand {
	height:93px;
	padding:38px 15px;
}

.navbar-brand img {
	max-height:63px;
	width:auto;
}

.navbar-nav {
	margin-top:31px;
}

body > .container > .container {
	width:100%;
}

/* Hotline */
.hotline, .network {
	background:@lugato-blau;
	color:#fff;
	margin-top:0;
	margin-left:15px;
	margin-right:15px;
	padding:0 15px 5px;

	a {
		color:#fff;

		&:hover {
			text-decoration: none;
			opacity: .9;
		}
	}

	small {
		font-weight: 200;
	}
}

.network {
	margin-left: 0;
	padding-top: 1px;

	a {
		font-size: 85%;
    	font-weight: 200;
	}
}

.hotline a {
	font-size:21px;
	padding-right:10px;
	line-height: 1.1;
	font-weight: 400;
}

/* Menu: Produktkategorien */
.menu-produktkategorien-container {
	padding-left: 15px;
	padding-right: 15px;
	margin-top:27px;
}
#menu-produktkategorien li a {
	color:#fff;
	text-transform: uppercase;
	font-weight: 300;
	border-radius: 0;
	padding:6px 15px;
}
#menu-produktkategorien li.menu-item-16,
#menu-produktkategorien li.menu-item-16:hover a {
	background-color:@lugato-grundieren;
}
#menu-produktkategorien li.menu-item-15,
#menu-produktkategorien li.menu-item-15:hover a {
	background-color:@lugato-ausgleichen;
}
#menu-produktkategorien li.menu-item-14,
#menu-produktkategorien li.menu-item-14:hover a {
	background-color:@lugato-abdichten;
}
#menu-produktkategorien li.menu-item-17,
#menu-produktkategorien li.menu-item-17:hover a {
	background-color:@lugato-kleben;
}
#menu-produktkategorien li.menu-item-18,
#menu-produktkategorien li.menu-item-18:hover a {
	background-color:@lugato-verfugen;
}
#menu-produktkategorien li:hover,
#menu-produktkategorien li:hover a {
	opacity: .85;
}

/* Content */
#content {
	padding-bottom:60px;
}
#navigation + #content {
	margin-top:50px;
}

/* Icons */
i.lugato-icons {
	display:inline-block;
	width:80px;
	height:80px;
	background:url(../img/icons.png) no-repeat transparent;
	background-position: 0 0;
	float:left;
	margin-right:25px;
}
i.lugato-icons.icon-zahnrad {
	background-position: 0 0;
}
i.lugato-icons.icon-uhr {
	background-position: 0 -80px;
}
i.lugato-icons.icon-schloss {
	background-position: 0 -160px;
}

/* Startseite */
.home #content {
	background:url(../img/startseite-wallpaper.jpg) no-repeat bottom right #fff;
}

/* Buttons */
.btn-download {
	border:1px solid @lugato-rot;
	border-radius: 0;
	background:@lugato-rot;
	color:#fff;
	font-size: 17px;
	min-width:220px;
	text-align: left;
	padding-left:15px;
	padding-right:15px;
}

.btn-download:hover {
	border:1px solid @lugato-rot;
	background:#fff;
	color:@lugato-rot;
}

.btn-download span {
	font-size: 11px;
	font-weight:300;
	display: block;
	padding-left:19px;
}

/* Kategorien */
#product-tiles {
	margin-top:50px;
}

#product-tiles .thumbnail,
body.post-type-archive #content .thumbnail,
body.category #content .thumbnail {
	border:none;
	padding:0;
}

#product-tiles .thumbnail img,
body.post-type-archive #content .thumbnail img,
body.category #content .thumbnail img {
	border:1px solid @lugato-blau;
	.gradient(top,#ffffff,#f4f7fd);
}

#product-tiles .thumbnail .category-grundieren img,
body.post-type-archive #content .thumbnail .category-grundieren img,
body.category-grundieren #content .thumbnail img {
	border-color:@lugato-grundieren;
}

#product-tiles .thumbnail .category-ausgleichen img,
body.post-type-archive #content .thumbnail .category-ausgleichen img,
body.category-ausgleichen #content .thumbnail img {
	border-color:@lugato-ausgleichen;
}

#product-tiles .thumbnail .category-abdichten img,
body.post-type-archive #content .thumbnail .category-abdichten img,
body.category-abdichten #content .thumbnail img {
	border-color:@lugato-abdichten;
}

#product-tiles .thumbnail .category-kleben img,
body.post-type-archive #content .thumbnail .category-kleben img,
body.category-kleben #content .thumbnail img, {
	border-color:@lugato-kleben;
}

#product-tiles .thumbnail .category-verfugen img,
body.post-type-archive #content .thumbnail .category-verfugen img,
body.category-verfugen #content .thumbnail img {
	border-color:@lugato-verfugen;
}

#product-tiles .thumbnail .caption,
body.post-type-archive #content .thumbnail .caption,
body.category #content .thumbnail .caption {
	padding:0;
}

#product-tiles .thumbnail .caption h3,
#product-tiles .thumbnail .caption h3 a,
body.post-type-archive #content .thumbnail .caption h3,
body.post-type-archive #content .thumbnail .caption h3 a,
body.category #content .thumbnail .caption h3,
body.category #content .thumbnail .caption h3 a {
	text-transform: uppercase;
	color:@lugato-blau;
	font-weight: 300;
}

body.post-type-archive #content .thumbnail .caption h3,
body.post-type-archive #content .thumbnail .caption h3 a {
	font-size: 16px;
}

/* Sidebar */
#sidebar {
	margin-top:50px;
}
body.archive #sidebar h4 {
	margin-top:30px;
	margin-bottom:0;
}

/* Pagination */
.pagination {
	display: block;
	width:100%;
	text-align: center;
}
.screen-reader-text {
	display:none;
}
.page-numbers {
	display:inline-block;
	min-width:25px;
	color:#fff;
	background: @lugato-blau;
	border:1px solid @lugato-blau;
}
.page-numbers:hover {
	color:#fff;
	opacity: .9;
	text-decoration: none;
}
.page-numbers.current {
	color:@lugato-blau;
	background:#fff;
}
.page-numbers.next,
.page-numbers.prev {
	display:none;
}

/* Produktdetail */
.single-produkte .container-fluid > .container {
	padding-left:30px;
	padding-right:30px;
}

.single-produkte h1 {
	text-align: left;
	margin-bottom: 30px;
	margin-top:50px;
}

.single-produkte p + h2 {
	margin-top:70px;
}

.single-produkte .cat-grundieren h1 {
	color:@lugato-grundieren;
}
.single-produkte .cat-ausgleichen h1 {
	color:@lugato-ausgleichen;
}
.single-produkte .cat-abdichten h1 {
	color:@lugato-abdichten;
}
.single-produkte .cat-kleben h1 {
	color:@lugato-kleben;
}
.single-produkte .cat-verfugen h1 {
	color:@lugato-verfugen;
}

.single-produkte #content {
	background:url(../img/slider_hintergrund.jpg) no-repeat top center;
}

.product-img {
	margin:30px 0 60px;
}

ul.list-usps {
	list-style: none;
	color:@lugato-blau;
	padding-left:0;
	font-weight: 400;
	font-size: 17px;
	margin-bottom:60px;
}

ul.list-usps li:before {
	content:"";
	display:inline-block;
	font-family: 'FontAwesome';
	padding-right:10px;
}

/* Footer */
.footer {
    background-color: @lugato-blau;
    bottom: 0;
    height: 95px;
    position: relative;
    width: 100%;
    color:#fff;
    margin-top:30px;
}
.footer .container {
	padding:15px 30px;
}
.footer .footer-logo {
	max-height: 40px;
	width: auto;
}

/* Menu: Footer */
#menu-footermenue li a {
	color:#fff;
	font-size: 16px;
	border-radius: 0;
}
#menu-footermenue li a:hover {
	background:transparent;
	opacity: .85;
}


/* Responsive Design */
@media (max-width: 468px) {
	.hotline small {
		display:block;
	}
}
@media (max-width: 768px) {
	.hotline {
		text-align: center;
	}
	.hotline a {
		font-size:19px;
	}
	#content h1 {
		font-size: 42px;
	}
	i.lugato-icons {
		float:none;
		display:block;
		margin-bottom:15px;
	}
	.home #content {
		padding-bottom:350px;
	}
	.footer {
		min-height:95px;
		height:auto;
	}
	.footer .row > div {
		text-align: center;
	}
	#menu-footermenue {
		float:none !important;
	}
	#wooslider-id-666 {
		display:none;
	}
}
@media (min-width: 992px) {
	.container {
	    width: 980px;
	}
}
@media (min-width: 1200px) {
	.container {
	    width: 980px;
	}
}