/* WooSlider */
.wooslider {
	background:transparent;
	border:none;
	border-radius: 0;
	box-shadow: none;
	margin-left:-95px;
	margin-right:-95px;
}
.wooslider-direction-nav a {
	color:fade(@lugato-grau, 30%);
}
body .wooslider .wooslider-control-nav {
	margin-top:-25px;
	z-index:999;
}
.wooslider-control-paging li a {
	height:15px;
	width:15px;
	background:transparent;
	border:1px solid fade(@lugato-blau,33%);
	border-radius: 100%;
}
.wooslider-control-paging li a:hover {
	background:@lugato-blau;
}
.wooslider-control-paging li a.wooslider-active {
    .gradient(top, fade(@lugato-blau,33%), @lugato-blau);
}
body .wooslider .slide-content {
	margin:0;
	color:@lugato-grau;
	position: absolute;
	top:150px;
	left:110px;
}
body .wooslider .slide-content h2 {
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 400;
	margin:0 0 38px;
}
body .wooslider .slide-content ul {
	margin:0 0 32px;
	padding:0;
	font-size: 17px;
	list-style: none;
	font-weight: 400;
}
body .wooslider .slide-content ul li:before {
	display:inline-block;
	content:"";
	font-family: 'FontAwesome';
	font-size: 7px;
	font-weight: normal;
	padding-right:15px;
	vertical-align: super;
}
body .wooslider .slide-content p a {
	background-color:@lugato-grau;
	color:#fff;
	font-size: 17px;
	padding:3px 17px;
}
body .wooslider .slide-content p a:hover {
	text-decoration: none;
	opacity: .9;
}
/* Grundieren */
body.category-grundieren .wooslider .slide,
body.post-type-archive-produkte .wooslider .slide-grundieren,
body.home .wooslider .slide-grundieren {
	border-bottom:3px solid @lugato-grundieren;
}
body.category-grundieren .wooslider .slide .slide-content,
body.post-type-archive-produkte .wooslider .slide-grundieren .slide-content,
body.post-type-archive-produkte .wooslider .slide-grundieren .slide-content li a,
body.home .wooslider .slide-grundieren .slide-content,
body.home .wooslider .slide-grundieren .slide-content li a {
	color:@lugato-grundieren;
}
body.category-grundieren .wooslider .slide .slide-content a,
body.post-type-archive-produkte .wooslider .slide-grundieren .slide-content p a,
body.home .wooslider .slide-grundieren .slide-content p a {
	background-color:@lugato-grundieren;
}
/* Ausgleichen */
body.category-ausgleichen .wooslider .slide,
body.post-type-archive-produkte .wooslider .slide-ausgleichen,
body.home .wooslider .slide-ausgleichen {
	border-bottom:3px solid @lugato-ausgleichen;
}
body.category-ausgleichen .wooslider .slide .slide-content,
body.post-type-archive-produkte .wooslider .slide-ausgleichen .slide-content,
body.post-type-archive-produkte .wooslider .slide-ausgleichen .slide-content li a,
body.home .wooslider .slide-ausgleichen .slide-content,
body.home .wooslider .slide-ausgleichen .slide-content li a {
	color:@lugato-ausgleichen;
}
body.category-ausgleichen .wooslider .slide .slide-content a,
body.post-type-archive-produkte .wooslider .slide-ausgleichen .slide-content p a,
body.home .wooslider .slide-ausgleichen .slide-content p a {
	background-color:@lugato-ausgleichen;
}
/* Abdichten */
body.category-abdichten .wooslider .slide,
body.post-type-archive-produkte .wooslider .slide-abdichten,
body.home .wooslider .slide-abdichten {
	border-bottom:3px solid @lugato-abdichten;
}
body.category-abdichten .wooslider .slide .slide-content,
body.post-type-archive-produkte .wooslider .slide-abdichten .slide-content,
body.post-type-archive-produkte .wooslider .slide-abdichten .slide-content li a,
body.home .wooslider .slide-abdichten .slide-content,
body.home .wooslider .slide-abdichten .slide-content li a {
	color:@lugato-abdichten;
}
body.category-abdichten .wooslider .slide .slide-content a,
body.post-type-archive-produkte .wooslider .slide-abdichten .slide-content p a,
body.home .wooslider .slide-abdichten .slide-content p a {
	background-color:@lugato-abdichten;
}
/* Kleben */
body.category-kleben .wooslider .slide,
body.post-type-archive-produkte .wooslider .slide-kleben,
body.home .wooslider .slide-kleben {
	border-bottom:3px solid @lugato-kleben;
}
body.category-kleben .wooslider .slide .slide-content,
body.post-type-archive-produkte .wooslider .slide-kleben .slide-content,
body.post-type-archive-produkte .wooslider .slide-kleben .slide-content li a,
body.home .wooslider .slide-kleben .slide-content,
body.home .wooslider .slide-kleben .slide-content li a {
	color:@lugato-kleben;
}
body.category-kleben .wooslider .slide .slide-content a,
body.post-type-archive-produkte .wooslider .slide-kleben .slide-content p a,
body.home .wooslider .slide-kleben .slide-content p a {
	background-color:@lugato-kleben;
}
/* Verfugen */
body.category-verfugen .wooslider .slide,
body.post-type-archive-produkte .wooslider .slide-verfugen,
body.home .wooslider .slide-verfugen {
	border-bottom:3px solid @lugato-verfugen;
}
body.category-verfugen .wooslider .slide .slide-content,
body.post-type-archive-produkte .wooslider .slide-verfugen .slide-content,
body.post-type-archive-produkte .wooslider .slide-verfugen .slide-content li a,
body.home .wooslider .slide-verfugen .slide-content,
body.home .wooslider .slide-verfugen .slide-content li a {
	color:@lugato-verfugen;
}
body.category-verfugen .wooslider .slide .slide-content a,
body.post-type-archive-produkte .wooslider .slide-verfugen .slide-content p a,
body.home .wooslider .slide-verfugen .slide-content p a {
	background-color:@lugato-verfugen;
}

@media (max-width: 460px) {
	.wooslider .slides img {
		display: none;
	}
}
@media (max-width: 768px) {
	body .wooslider {
		margin-left:0;
		margin-right:0;
	}
	body .wooslider ul.slides,
	.wooslider .slides > li {
	    height: 300px;
	}
	.wooslider-direction-nav a {
		display:none;
	}
	body .wooslider .slide-content {
		top:20px;
		left:16px;
	}
	body .wooslider .slide-content h2 {
		font-size:18px;
		margin-bottom:12px;
	}
}

/* Yoast Breadcrumbs */
#breadcrumbs {
	font-size: 12px;
	margin-top:36px;
	color:#313131;
	font-weight: 400;
}

/* FacetWP */
.facetwp-pager {
	margin-top:30px;
	padding-top:30px;
	border-top:1px solid fade(@lugato-hellgrau,20%);
	text-align: center;
}
.facetwp-page {
	display:inline-block;
	min-width:25px;
	color:#fff;
	background: @lugato-hellgrau;
	border:1px solid @lugato-hellgrau;
}
.facetwp-page:hover {
	color:#fff;
	opacity: .9;
	text-decoration: none;
}
.facetwp-page.active {
	color:@lugato-hellgrau;
	background:#fff;
}

/* Quform */
.iphorm {
	margin-top:50px;
}
.iphorm h3.iphorm-title {
	font-weight:400;
	text-transform: uppercase;
	color: @lugato-blau;
	margin-bottom:30px;
}
.iphorm label {
	font-weight: 400;
}
.iphorm-input-checkbox-ul .iphorm-input-checkbox-li label,
.iphorm-input-radio-ul .iphorm-input-radio-li label {
	font-weight: 300;
}
.iphorm-required {
	color:@lugato-rot;
}
.iphorm-input-radio-ul .iphorm-input-radio-li {
	padding-left:25px;
}
.iphorm-input-radio-ul .iphorm-input-radio-li div.radio {
	margin-left:-25px;
}
.iphorm-responsive .iphorm-elements .iphorm-element-wrap-text input,
.iphorm-responsive .iphorm-elements .iphorm-element-wrap-captcha input,
.iphorm-responsive .iphorm-elements .iphorm-element-wrap-password input,
.iphorm-responsive .iphorm-elements .iphorm-element-wrap select,
.iphorm-responsive .iphorm-elements .iphorm-element-wrap textarea {
	width:100%;
}
@media (min-width: 768px) {
	.iphorm-group-row-2cols .iphorm-element-wrap {
		padding-right:10px;
	}
	.iphorm-group-row-2cols .iphorm-element-wrap.last-child {
		padding-right:0px;
		padding-left:10px;
	}
}
.iphorm-submit-wrap {
	padding-top:20px;
	text-align: right;
}
.iphorm-submit-input-wrap {
	float:right;
}
.iphorm-edit-form-wrap {
	display:none;
}

/* ACF: Google Map */
.acf-map {
	background:transparent;
	border:none;
	margin-left:-95px;
	margin-right:-95px;
	height: 550px;
	max-width: 1140px;
	border-bottom:3px solid @lugato-blau;
	margin-bottom:30px;
}
@media (max-width: 768px) {
	.acf-map {
		height: 350px;
		margin-left:-15px;
		margin-right:-15px;
	}
}
.acf-map img {
	max-width: inherit !important;
}