/* Basic reset for better theme compatibility. */
.wooslider { clear: both; overflow: visible !important; }
.wooslider-carousel { z-index: 2; }
.wooslider .slides > li { list-style: none; float: left; width: 100%; margin: 0; padding: 0; }
.wooslider .slides > li img, .entry .wooslider .slides > li img { border: 0; box-shadow: none; margin: 0; height: auto; -moz-backface-visibility: hidden; }
.wooslider-control-thumbs { overflow: visible; }
.wooslider .wooslider-control-nav > li { margin: 0 6px; padding: 0; }

body .wooslider.wooslider-type-posts img, body .wooslider.wooslider-type-attachments img { border: 0; padding: 0; margin: 0; height: auto; }
body .wooslider ul.slides { overflow: hidden; }
body .wooslider ul.slides, body .wooslider .wooslider-control-nav, body .wooslider .wooslider-direction-nav { padding: 0; margin: 0; }
body .wooslider .wooslider-control-nav { position: absolute; top: 100%; margin-top: 15px; }
body .wooslider .wooslider-control-nav.wooslider-control-thumbs { position: static; float: left; clear: both; margin-bottom: 15px; }
body .wooslider .wooslider-control-nav.wooslider-control-thumbs li { margin-left: 0; margin-right: 15px; margin-bottom: 15px; }
body .wooslider .wooslider-control-nav li, body .wooslider .wooslider-direction-nav li { list-style: none; }
body .wooslider.wooslider-carousel .slides img { cursor: pointer; padding: 0; }
body .wooslider.wooslider-carousel .slides .wooslider-active-slide img { cursor: default; }

/* Layout styles for the "Posts" slideshow type. */
@media only screen and (min-width: 768px) {
	/* Text Left and Text Right Options */
	.wooslider .layout-text-left img { float: right; width: 40%; }
	.wooslider .layout-text-left .slide-excerpt { float: left; width: 50%; }

	.wooslider .layout-text-right img { float: left; width: 40%; }
	.wooslider .layout-text-right .slide-excerpt { float: right; width: 50%; }

	/* Full overlay enabled */
	.wooslider .overlay-full  { position: relative; }
	.wooslider .overlay-full .slide-excerpt { background: #000; opacity: 0.8; color: #FFF; position: absolute; padding: 1em; }
	.wooslider .overlay-full .slide-excerpt .slide-title { color: #FFF; }
	.wooslider .overlay-full img { float: none; width: 100%; height: auto; }
	.wooslider .overlay-full .slide-excerpt img { width: auto; }

	body .wooslider .overlay-full.layout-text-left .slide-excerpt { left: 0; top: 0; bottom: 0; width: 30%; padding: 1em; overflow: hidden; }
	body .wooslider .overlay-full.layout-text-right .slide-excerpt { right: 0; top: 0; bottom: 0; width: 30%; padding: 1em; overflow: hidden; }
	body .wooslider .overlay-full.layout-text-top .slide-excerpt { left: 0; right: 0; top: 0; height: auto; padding: 1em; overflow: hidden; }
	body .wooslider .overlay-full.layout-text-bottom .slide-excerpt { left: 0; right: 0; bottom: 0; height: auto; padding: 1em; overflow: hidden; }

	/* Natural overlay enabled */
	.wooslider .overlay-natural  { position: relative; }
	.wooslider .overlay-natural .slide-excerpt { color: #FFF; position: absolute; float: left; padding: 0; }
	.wooslider .overlay-natural .slide-excerpt .slide-title { color: #FFF; background: #000; opacity: 0.8; float: left; padding: 0.5em 1em; margin: 0; }
	.wooslider .overlay-natural .slide-excerpt p { color: #FFF; background: #000; opacity: 0.8; float: left; padding: 0.5em 1em; }
	.wooslider .overlay-natural img { float: none; width: 100%; height: auto; }

	body .wooslider .overlay-natural.layout-text-left .slide-excerpt { left: 0; top: 10%; overflow: hidden; }
	body .wooslider .overlay-natural.layout-text-right .slide-excerpt { float: right; right: 0; top: 10%; overflow: hidden; }
	body .wooslider .overlay-natural.layout-text-right .slide-excerpt .slide-title,
	body .wooslider .overlay-natural.layout-text-right .slide-excerpt p { float: right; }
	body .wooslider .overlay-natural.layout-text-top .slide-excerpt { left: 0; top: 0; overflow: hidden; }
	body .wooslider .overlay-natural.layout-text-bottom .slide-excerpt { left: 0; bottom: 0; overflow: hidden; }
}

/* "Slides" slideshow type */
body .wooslider .slide-content { margin: 0.5em; padding: 0; border: 0; width: auto; height: auto; }

/* Slide widget */
.widget_wooslider_slideshow_attachments .wooslider-direction-nav a { padding: 0; }

body .wooslider.wooslider-type-posts img, body .wooslider.wooslider-type-attachments img { max-width: 100%; border: none; }
body .wooslider-control-nav { margin: 0; padding: 0; z-index: 1; }
body .wooslider-control-nav img { border: 0; background: none; margin: 0; padding: 0; }
body .wooslider-direction-nav a, body .widget .wooslider-direction-nav a { height: auto; line-height: 40px; text-indent: -9999px; }
body .wooslider-direction-nav a:before { position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-indent: 0; text-align: center; }
body .wooslider-direction-nav, body .wooslider-direction-nav li { list-style: none; margin: 0; padding: 0; }
body .wooslider-direction-nav .wooslider-next { text-align: inherit; }
body .wooslider.wooslider-type-slides .has-featured-image img.featured-image { max-width: 100%; height: auto; }
body .wooslider.wooslider-type-slides img { max-width: 100%; padding: 0;}


/* Custom Lugato */
body .wooslider .wooslider-control-nav {
	width: 100%;
	left: 0;
	text-align: center;
	top: auto;
	margin-top: -25px;
	position: relative;
}

body .wooslider .wooslider-control-nav li {
	display: inline-block;
}

.wooslider-control-paging li a {
	height: 15px;
	width: 15px;
	background: transparent;
	border: 1px solid rgba(0, 101, 166, 0.33);
	border-radius: 100%;
	cursor: pointer;
	text-indent: -9999px;
	display: block;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.wooslider-direction-nav {margin: 0; padding: 0; list-style: none;}
.wooslider-direction-nav {*height: 0;}
.wooslider-direction-nav a  { display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.wooslider-direction-nav .wooslider-prev { left: -50px; }
.wooslider-direction-nav .wooslider-next { right: -50px; text-align: right; }
.wooslider:hover .wooslider-prev { opacity: 0.7; left: 10px; }
.wooslider:hover .wooslider-next { opacity: 0.7; right: 10px; }
.wooslider:hover .wooslider-next:hover, .wooslider:hover .wooslider-prev:hover { opacity: 1; }
.wooslider-direction-nav .wooslider-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; z-index: -1; }
.wooslider-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.wooslider-direction-nav a.wooslider-next:before  { content: '\f002'; }

.wooslider-direction-nav {
	position: relative;
	margin-top: -25% !important;
}
.wooslider-direction-nav a {
	color: rgba(49,49,49,0.3);
}